<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "@id": "{{ '/' | absolute_url }}#localbusiness",
  "name": "{{ site.arbat.nombre }}",
  "slogan": "{{ site.arbat.lema }}",
  "url": "{{ '/' | absolute_url }}",
  "email": "{{ site.arbat.email }}",
  "image": "{{ '/assets/images/logo.png' | absolute_url }}",
  "sameAs": ["{{ site.arbat.instagram }}"],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Av. Roca y Coronado #1800",
    "addressLocality": "Santa Cruz de la Sierra",
    "addressRegion": "Santa Cruz",
    "addressCountry": "BO"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": {{ site.arbat.latitud }},
    "longitude": {{ site.arbat.longitud }}
  },
  "hasMap": "{{ site.arbat.google_maps_url }}",
  "telephone": "{{ site.arbat.telefono_whatsapp | first }}",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Wednesday", "Friday"],
      "opens": "16:00",
      "closes": "20:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "09:00",
      "closes": "17:00"
    }
  ]
}
</script>
