<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SportsActivityLocation",
  "@id": "{{ '/' | absolute_url }}#localbusiness",
  "name": "{{ site.arbat.nombre }}",
  "slogan": "{{ site.arbat.lema }}",
  "url": "{{ '/' | absolute_url }}",
  "description": "{{ site.description }}",
  "image": "{{ '/assets/images/logo.png' | absolute_url }}",
  "email": "{{ site.arbat.email }}",
  "telephone": "{{ site.arbat.telefono_whatsapp_reservas | remove: ' ' }}",
  "priceRange": "Bs. 70 - Bs. 500",
  "sameAs": [
    {% for link in site.social.links %}"{{ link }}"{% unless forloop.last %},{% endunless %}{% endfor %}
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Av. Roca y Coronado #1800, entre 4to y 5to anillo",
    "addressLocality": "Santa Cruz de la Sierra",
    "addressRegion": "Santa Cruz",
    "addressCountry": "BO",
    "postalCode": "00000"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": {{ site.arbat.latitud }},
    "longitude": {{ site.arbat.longitud }}
  },
  "hasMap": "{{ site.arbat.google_maps_url }}",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Wednesday", "Friday"],
      "opens": "16:00",
      "closes": "20:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "09:00",
      "closes": "12:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "14:30",
      "closes": "17:00"
    }
  ]
}
</script>